Thumbs.db
.DS_Store
.gradle
build/
target/
out/
data/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
secret/
notebook/
tmp/
docker/concept/jsonschemas
docker/concept/graphqlschemas
bin/testdata/concept/examples/_main
